/* TextItem.module.css */
.textItem {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    /* border: 1px solid #e5e7eb;
    border-radius: 0.375rem; */
  }

  .active{
    background-color: antiquewhite;
    border-radius: 6px;
    margin-top: 4px;
  }

  .textItem .filecontrol {
    display:none
  }
  .textItem:hover .filecontrol {
    display:flex
  }
  
  .textItem span {
    cursor: pointer;
  }
  
  .editable {
    border: none;
    background-color: transparent;
    width: 100%;
    padding-left: 5px;
  }
  
  .icon {
    cursor: pointer;
    padding: 0.25rem;
  }
  
  .iconOptionsHide {
    display: none;
  }
  
  .iconOptionsShow {
    display: flex;
  }

  .fileNameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .fileName{
    margin-left:10px
  }
  